Repository msal-tech/msal-tech: changes, and which pre-commit hooks are due for each by the changed paths.
All: pretty-format-json, check-json, check-toml, check-yaml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa, doctest, name-tests-test

pretty-format-json:
  name: Checks that all your JSON files are pretty (pretty-format-json)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: pretty-format-json
  args:
  - --autofix
  - --indent=4
  - --no-ensure-ascii
  - --no-sort-keys
  require_serial: true

check-json:
  name: Attempts to load all json files to verify syntax (check-json)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-json
  require_serial: true

check-toml:
  name: Attempts to load all TOML files to verify syntax (check-toml)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-toml
  require_serial: true

check-yaml:
  name: Attempts to load all yaml files to verify syntax (check-yaml)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-yaml
  args:
  - --allow-multiple-documents
  require_serial: true

requirements-txt-fixer:
  name: Sorts entries in requirements.txt and constraints.txt (requirements-txt-fixer)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: requirements-txt-fixer
  require_serial: true
  verbose: true

pyupgrade-nbqa:
  name: Automatically upgrade syntax for newer versions (pyupgrade + nbqa)
  description: https://github.com/asottile/pyupgrade https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa pyupgrade
  args:
  - --py312-plus
  require_serial: true

isort-nbqa:
  name: Import sorting (isort + nbqa)
  description: https://github.com/pycqa/isort https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa isort
  args:
  - --settings-file=pyproject.toml
  require_serial: true

black-nbqa:
  name: Python code formatter (black + nbqa)
  description: https://github.com/psf/black https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa black
  args:
  - --config=pyproject.toml
  require_serial: true

mypy-nbqa:
  name: Static type checking (mypy + nbqa)
  description: https://github.com/python/mypy https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa mypy
  args:
  - --config-file=pyproject.toml
  require_serial: true

bandit-nbqa:
  name: Security code analysis (bandit + nbqa)
  description: https://github.com/PyCQA/bandit https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa bandit
  args:
  - --configfile=pyproject.toml
  require_serial: true

pylint-nbqa:
  name: Static code analysis (pylint + nbqa)
  description: https://github.com/pylint-dev/pylint https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=C0103
  - --disable=C0111
  - --disable=C0413
  require_serial: true

doctest:
  name: Test interactive Python examples (doctest)
  description: https://docs.python.org/3/library/doctest.html
  language: system
  entry: python -m doctest
  require_serial: true

Изменено: Аннотация учебной программы
  src/annotation.qmd
Due: none

Добавлено: Ссылка на страницу регистрации на программу
  CHANGELOG.md
  src/_quarto.yml
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Измененно: Страница 404
  CHANGELOG.md
  src/404.qmd
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Измененно: Настройки сайта
  CHANGELOG.md
  src/_quarto.yml
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Измененно: Настройки сайта
  src/.gitignore
Due: none

Измененно: Экзаменационные вопросы по курсу "Алгоритмика"
  CHANGELOG.md
  src/algorithmics/exam.qmd
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Измененно: Структура курса "Алгоритмика"
  src/algorithmics/_sidebar.yml
  src/algorithmics/exam.qmd
  src/algorithmics/topic-01/index.qmd
  src/algorithmics/topic-01/lecture-01/index.qmd
  src/algorithmics/topic-01/lecture-01/slides/index.qmd
  src/algorithmics/topic-01/seminar-01/index.qmd
  src/algorithmics/topic-01/seminar-02/index.qmd
  src/algorithmics/topic-02/index.qmd
  src/algorithmics/topic-02/lecture-02/index.qmd
  src/algorithmics/topic-02/lecture-02/slides/index.qmd
  src/algorithmics/topic-02/seminar-03/index.qmd
  src/algorithmics/topic-02/seminar-04/index.qmd
  src/algorithmics/topic-02/seminar-05/index.qmd
  src/algorithmics/topic-03/index.qmd
  src/algorithmics/topic-03/lecture-03/index.qmd
  src/algorithmics/topic-03/lecture-03/slides/index.qmd
  src/algorithmics/topic-03/seminar-06/index.qmd
  src/algorithmics/topic-03/seminar-07/index.qmd
  src/algorithmics/topic-03/seminar-08/index.qmd
  src/algorithmics/topic-03/seminar-09/index.qmd
  src/algorithmics/topic-04/index.qmd
  src/algorithmics/topic-04/lecture-04/index.qmd
  src/algorithmics/topic-04/lecture-04/slides/index.qmd
  src/algorithmics/topic-04/seminar-10/index.qmd
  src/algorithmics/topic-04/seminar-11/index.qmd
  src/algorithmics/topic-05/index.qmd
  src/algorithmics/topic-05/lecture-05/index.qmd
  src/algorithmics/topic-05/lecture-05/slides/index.qmd
  src/algorithmics/topic-05/seminar-12/index.qmd
  src/algorithmics/topic-05/seminar-13/index.qmd
  src/algorithmics/topic-06/index.qmd
  src/algorithmics/topic-06/lecture-06/index.qmd
  src/algorithmics/topic-06/lecture-06/slides/index.qmd
  src/algorithmics/topic-06/seminar-14/index.qmd
  src/algorithmics/topic-06/seminar-15/index.qmd
  src/algorithmics/topic-06/seminar-16/index.qmd
  src/algorithmics/topic-06/seminar-17/index.qmd
Due: check-yaml

Измененно: Экзаменационные вопросы по курсу "Анализ и моделирование бизнес-процессов организации"
  src/_quarto.yml
  src/business-process-modeling/_metadata.yml
  src/business-process-modeling/_sidebar.yml
  src/business-process-modeling/annotation.qmd
  src/business-process-modeling/credit.qmd
  src/business-process-modeling/exam.qmd
  src/business-process-modeling/index.qmd
  src/business-process-modeling/topic-01/index.qmd
  src/business-process-modeling/topic-01/lecture-01/img/_lead.png
  src/business-process-modeling/topic-01/lecture-01/index.qmd
  src/business-process-modeling/topic-01/lecture-01/slides/index.qmd
  src/business-process-modeling/topic-01/seminar-01/img/_lead.png
  src/business-process-modeling/topic-01/seminar-01/index.qmd
  src/business-process-modeling/topic-02/index.qmd
  src/business-process-modeling/topic-02/lecture-02/img/_lead.png
  src/business-process-modeling/topic-02/lecture-02/index.qmd
  src/business-process-modeling/topic-02/lecture-02/slides/index.qmd
  src/business-process-modeling/topic-02/seminar-02/img/_lead.png
  src/business-process-modeling/topic-02/seminar-02/index.qmd
  src/business-process-modeling/topic-02/seminar-03/img/_lead.png
  src/business-process-modeling/topic-02/seminar-03/index.qmd
  src/business-process-modeling/topic-03/index.qmd
  src/business-process-modeling/topic-03/lecture-03/img/_lead.png
  src/business-process-modeling/topic-03/lecture-03/index.qmd
  src/business-process-modeling/topic-03/lecture-03/slides/index.qmd
  src/business-process-modeling/topic-03/lecture-04/img/_lead.png
  src/business-process-modeling/topic-03/lecture-04/index.qmd
  src/business-process-modeling/topic-03/lecture-04/slides/index.qmd
  src/business-process-modeling/topic-03/seminar-04/img/_lead.png
  src/business-process-modeling/topic-03/seminar-04/index.qmd
  src/business-process-modeling/topic-03/seminar-05/img/_lead.png
  src/business-process-modeling/topic-03/seminar-05/index.qmd
  src/business-process-modeling/topic-04/index.qmd
  src/business-process-modeling/topic-04/lecture-05/img/_lead.png
  src/business-process-modeling/topic-04/lecture-05/index.qmd
  src/business-process-modeling/topic-04/lecture-05/slides/index.qmd
  src/business-process-modeling/topic-04/seminar-06/img/_lead.png
  src/business-process-modeling/topic-04/seminar-06/index.qmd
  src/business-process-modeling/topic-04/seminar-07/img/_lead.png
  src/business-process-modeling/topic-04/seminar-07/index.qmd
Due: check-yaml

Измененно: Экзаменационные вопросы по курсу "Анализ и моделирование бизнес-процессов организации"
  src/business-process-modeling/index.qmd
Due: none

Измененно: Структура курса "Методологии разработки программного обеспечения"
  CHANGELOG.md
  src/software-development-methodology/_metadata.yml
  src/software-development-methodology/_sidebar.yml
  src/software-development-methodology/credit.qmd
  src/software-development-methodology/index.qmd
  src/software-development-methodology/topic-01/index.qmd
  src/software-development-methodology/topic-01/lecture-01/img/_lead.png
  src/software-development-methodology/topic-01/lecture-01/index.qmd
  src/software-development-methodology/topic-01/lecture-01/slides/index.qmd
  src/software-development-methodology/topic-02/index.qmd
  src/software-development-methodology/topic-02/lecture-02/img/_lead.png
  src/software-development-methodology/topic-02/lecture-02/index.qmd
  src/software-development-methodology/topic-02/lecture-02/slides/index.qmd
  src/software-development-methodology/topic-02/lecture-03/img/_lead.png
  src/software-development-methodology/topic-02/lecture-03/index.qmd
  src/software-development-methodology/topic-02/lecture-03/slides/index.qmd
  src/software-development-methodology/topic-02/seminar-01/img/_lead.png
  src/software-development-methodology/topic-02/seminar-01/index.qmd
  src/software-development-methodology/topic-03/index.qmd
  src/software-development-methodology/topic-03/lecture-04/img/_lead.png
  src/software-development-methodology/topic-03/lecture-04/index.qmd
  src/software-development-methodology/topic-03/lecture-04/slides/index.qmd
  src/software-development-methodology/topic-03/lecture-05/img/_lead.png
  src/software-development-methodology/topic-03/lecture-05/index.qmd
  src/software-development-methodology/topic-03/lecture-05/slides/index.qmd
  src/software-development-methodology/topic-03/seminar-02/img/_lead.png
  src/software-development-methodology/topic-03/seminar-02/index.qmd
  src/software-development-methodology/topic-04/index.qmd
  src/software-development-methodology/topic-04/lecture-06/img/_lead.png
  src/software-development-methodology/topic-04/lecture-06/index.qmd
  src/software-development-methodology/topic-04/lecture-06/slides/index.qmd
  src/software-development-methodology/topic-04/lecture-07/img/_lead.png
  src/software-development-methodology/topic-04/lecture-07/index.qmd
  src/software-development-methodology/topic-04/lecture-07/slides/index.qmd
  src/software-development-methodology/topic-04/seminar-03/img/_lead.png
  src/software-development-methodology/topic-04/seminar-03/index.qmd
  src/software-development-methodology/topic-04/seminar-04/img/_lead.png
  src/software-development-methodology/topic-04/seminar-04/index.qmd
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

2025.10.14 Измененно: Структура курса "Методологии разработки программного обеспечения"
  src/software-development-methodology/_sidebar.yml
  src/software-development-methodology/topic-02/index.qmd
  src/software-development-methodology/topic-04/index.qmd
Due: check-yaml

Измененно: Структура курса "Автоматизация юридической работы (Legaltech)"
  CHANGELOG.md
  src/legaltech/_metadata.yml
  src/legaltech/_sidebar.yml
  src/legaltech/credit.qmd
  src/legaltech/index.qmd
  src/legaltech/topic-01/index.qmd
  src/legaltech/topic-01/lecture-01/img/_lead.png
  src/legaltech/topic-01/lecture-01/index.qmd
  src/legaltech/topic-01/lecture-01/slides/index.qmd
  src/legaltech/topic-02/index.qmd
  src/legaltech/topic-02/lecture-02/img/_lead.png
  src/legaltech/topic-02/lecture-02/index.qmd
  src/legaltech/topic-02/lecture-02/slides/index.qmd
  src/legaltech/topic-03/index.qmd
  src/legaltech/topic-03/lecture-03/img/_lead.png
  src/legaltech/topic-03/lecture-03/index.qmd
  src/legaltech/topic-03/lecture-03/slides/index.qmd
  src/legaltech/topic-03/lecture-04/img/_lead.png
  src/legaltech/topic-03/lecture-04/index.qmd
  src/legaltech/topic-03/lecture-04/slides/index.qmd
  src/legaltech/topic-03/lecture-05/img/_lead.png
  src/legaltech/topic-03/lecture-05/index.qmd
  src/legaltech/topic-03/lecture-05/slides/index.qmd
  src/legaltech/topic-03/lecture-06/img/_lead.png
  src/legaltech/topic-03/lecture-06/index.qmd
  src/legaltech/topic-03/lecture-06/slides/index.qmd
  src/legaltech/topic-04/index.qmd
  src/legaltech/topic-04/lecture-07/img/_lead.png
  src/legaltech/topic-04/lecture-07/index.qmd
  src/legaltech/topic-04/lecture-07/slides/index.qmd
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Built site for gh-pages
  .nojekyll
Due: none

Добавлено: Конспект практического занятия 1 по Алгоритмике
  CHANGELOG.md
  src/algorithmics/topic-01/seminar-01/_01.qmd
  src/algorithmics/topic-01/seminar-01/_02.qmd
  src/algorithmics/topic-01/seminar-01/_03.qmd
  src/algorithmics/topic-01/seminar-01/_04.qmd
  src/algorithmics/topic-01/seminar-01/_05.qmd
  src/algorithmics/topic-01/seminar-01/_06.qmd
  src/algorithmics/topic-01/seminar-01/_self_task.qmd
  src/algorithmics/topic-01/seminar-01/img/_lead.png
  src/algorithmics/topic-01/seminar-01/index.qmd
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Built site for gh-pages
  .nojekyll
  algorithmics/topic-01/seminar-02/index.html
  algorithmics/topic-02/seminar-03/index.html
  algorithmics/topic-02/seminar-04/index.html
  algorithmics/topic-02/seminar-05/index.html
  algorithmics/topic-03/lecture-03/index.html
  algorithmics/topic-03/seminar-06/index.html
  algorithmics/topic-03/seminar-07/index.html
  algorithmics/topic-03/seminar-08/index.html
  algorithmics/topic-03/seminar-09/index.html
  algorithmics/topic-04/seminar-10/index.html
  algorithmics/topic-04/seminar-11/index.html
  algorithmics/topic-05/seminar-12/index.html
  algorithmics/topic-05/seminar-13/index.html
  algorithmics/topic-06/seminar-14/index.html
  algorithmics/topic-06/seminar-15/index.html
  algorithmics/topic-06/seminar-16/index.html
  algorithmics/topic-06/seminar-17/index.html
  search.json
  sitemap.xml
Due: pretty-format-json, check-json

Path conditions:
  pretty-format-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-toml: any of: \.toml$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-yaml: any of: \.(yaml|yml)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  requirements-txt-fixer: any of: .*(requirements).*(.txt)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pyupgrade-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  isort-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  black-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  mypy-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  bandit-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pylint-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  doctest: any of: \.py$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  name-tests-test: any of: ^tests/ and \.py$ and not ((?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$
)
