Repository msal-tech/msal-tech: changes, and which pre-commit hooks are due for each by the changed paths.
All: pretty-format-json, check-json, check-toml, check-yaml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa, doctest, name-tests-test

pretty-format-json:
  name: Checks that all your JSON files are pretty (pretty-format-json)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: pretty-format-json
  args:
  - --autofix
  - --indent=4
  - --no-ensure-ascii
  - --no-sort-keys
  require_serial: true

check-json:
  name: Attempts to load all json files to verify syntax (check-json)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-json
  require_serial: true

check-toml:
  name: Attempts to load all TOML files to verify syntax (check-toml)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-toml
  require_serial: true

check-yaml:
  name: Attempts to load all yaml files to verify syntax (check-yaml)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-yaml
  args:
  - --allow-multiple-documents
  require_serial: true

requirements-txt-fixer:
  name: Sorts entries in requirements.txt and constraints.txt (requirements-txt-fixer)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: requirements-txt-fixer
  require_serial: true
  verbose: true

pyupgrade-nbqa:
  name: Automatically upgrade syntax for newer versions (pyupgrade + nbqa)
  description: https://github.com/asottile/pyupgrade https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa pyupgrade
  args:
  - --py312-plus
  require_serial: true

isort-nbqa:
  name: Import sorting (isort + nbqa)
  description: https://github.com/pycqa/isort https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa isort
  args:
  - --settings-file=pyproject.toml
  require_serial: true

black-nbqa:
  name: Python code formatter (black + nbqa)
  description: https://github.com/psf/black https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa black
  args:
  - --config=pyproject.toml
  require_serial: true

mypy-nbqa:
  name: Static type checking (mypy + nbqa)
  description: https://github.com/python/mypy https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa mypy
  args:
  - --config-file=pyproject.toml
  require_serial: true

bandit-nbqa:
  name: Security code analysis (bandit + nbqa)
  description: https://github.com/PyCQA/bandit https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa bandit
  args:
  - --configfile=pyproject.toml
  require_serial: true

pylint-nbqa:
  name: Static code analysis (pylint + nbqa)
  description: https://github.com/pylint-dev/pylint https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=C0103
  - --disable=C0111
  - --disable=C0413
  require_serial: true

doctest:
  name: Test interactive Python examples (doctest)
  description: https://docs.python.org/3/library/doctest.html
  language: system
  entry: python -m doctest
  require_serial: true

Добавлено: Изменен стиль оформления
  CHANGELOG.md
  book/_config.yml
  book/_static/styles/styles.css
  book/index.md
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: Изменен стиль оформления
  book/_static/styles/styles.css
Due: none

Добавлено: Материал лекции 1 по Алгоритмике
  .pre-commit-config.yaml
  book/algorithmics/homework/img/.gitkeep
  book/algorithmics/lecture/01.md
  book/algorithmics/lecture/img/.gitkeep
  book/algorithmics/seminar/img/.gitkeep
  book/business_processes/homework/img/.gitkeep
  book/business_processes/lecture/img/.gitkeep
  book/business_processes/seminar/img/.gitkeep
  book/development_methodologies/homework/img/.gitkeep
  book/development_methodologies/lecture/img/.gitkeep
  book/development_methodologies/seminar/img/.gitkeep
  book/legaltech/homework/img/.gitkeep
  book/legaltech/lecture/img/.gitkeep
  pyproject.toml
Due: check-toml, check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: Лекция 1 по Алгоритмике
  .binder/requirements.txt
  CHANGELOG.md
  book/_config.yml
  book/algorithmics/lecture/01.md
  requirements.txt
  requirements_colab.txt
Due: check-yaml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: Лекция 1 по Алгоритмике
  book/algorithmics/lecture/01.md
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: Лекция 1 по Алгоритмике
  book/_static/images/logo-wide.svg
  book/algorithmics/lecture/01.md
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: Лекция 1 по Алгоритмике
  book/_config.yml
  book/algorithmics/lecture/01.md
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: Лекция 1 по Алгоритмике
  book/_config.yml
Due: check-yaml

Добавлено: Семинар 1 по Алгоритмике
  CHANGELOG.md
  book/algorithmics/lecture/01.md
  book/algorithmics/seminar/01.md
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Изменено: Основная версия проекта изменена на 3.10
  .binder/requirements.txt
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  requirements_colab.txt
  tests/venv_test.py
Due: check-toml, check-yaml, requirements-txt-fixer, doctest, name-tests-test

Update CNAME
  CNAME
Due: none

Изменено: Информация об авторах
  CHANGELOG.md
  src/authors.qmd
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: Список литературы
  src/_quarto.yml
  src/bibliography/_metadata.yml
  src/bibliography/_sidebar.yml
  src/bibliography/additional.bib
  src/bibliography/additional.qmd
  src/bibliography/basic.bib
  src/bibliography/basic.qmd
  src/bibliography/electronic.bib
  src/bibliography/electronic.qmd
  src/bibliography/gost-r-7-0-5-2008-numeric-alphabetical.csl
  src/bibliography/gost-r-7-0-5-2008-numeric.csl
  src/bibliography/gost-r-7-0-5-2008.csl
Due: check-yaml

Исправлено: Ссылки на репозиторий и сайт проекта
  CHANGELOG.md
  src/_quarto.yml
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Исправлено: Оформление навигационных меню
  src/_quarto.yml
  src/algorithmics/_sidebar.yml
  src/attestation/_metadata.yml
  src/attestation/_sidebar.yml
  src/bibliography/_sidebar.yml
  src/business-process-modeling/_sidebar.yml
  src/it-project-management/_sidebar.yml
  src/legaltech/_sidebar.yml
  src/project/_metadata.yml
  src/project/_sidebar.yml
  src/software-development-methodology/_sidebar.yml
  src/traineeship/_metadata.yml
  src/traineeship/_sidebar.yml
  src/traineeship/annotation.html
  src/traineeship/annotation.tex
Due: check-yaml

Изменено: Оформление внешних ссылок
  CHANGELOG.md
  src/_quarto.yml
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Исправлено: Ссылки на иконки лицензии в README.md
  CHANGELOG.md
  README.md
  src/_static/images/cc-icons.svg
  src/_static/images/cc-logomark.svg
  src/traineeship/annotation.html
  src/traineeship/annotation.tex
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Path conditions:
  pretty-format-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-toml: any of: \.toml$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-yaml: any of: \.(yaml|yml)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  requirements-txt-fixer: any of: .*(requirements).*(.txt)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pyupgrade-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  isort-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  black-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  mypy-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  bandit-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pylint-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  doctest: any of: \.py$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  name-tests-test: any of: ^tests/ and \.py$ and not ((?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$
)
