Repository msal-tech/msal-tech: changes, and which pre-commit hooks are due for each by the changed paths.
All: pretty-format-json, check-json, check-toml, check-yaml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa, doctest, name-tests-test

Path conditions:
  pretty-format-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-toml: any of: \.toml$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-yaml: any of: \.(yaml|yml)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  requirements-txt-fixer: any of: .*(requirements).*(.txt)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pyupgrade-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  isort-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  black-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  mypy-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  bandit-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pylint-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  doctest: any of: \.py$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  name-tests-test: any of: ^tests/ and \.py$ and not ((?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$
)

Create CNAME
  CNAME
Due: none

- 202x.03.19 Добавлено: Настройки для публикации на домене msal.tech
  CHANGELOG.md
  src/CNAME
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: Страница для подготовки к итоговому тестированию
  CHANGELOG.md
  src/_quarto.yml
  src/assessment.qmd
  src/business-process-modeling/assessment.qmd
  src/index.qmd
  src/it-project-management/assessment.qmd
  src/legaltech/assessment.qmd
  src/software-development-methodology/assessment.qmd
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Изменено: Верхнее меню
  CHANGELOG.md
  src/_quarto.yml
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Изменено: Регулярное выражение для определения внешних ссылок
  CHANGELOG.md
  src/_quarto.yml
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: favicon.ico
  CHANGELOG.md
  src/_quarto.yml
  src/_static/images/favicon.png
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: Структура учебных модулей
  CHANGELOG.md
  src/algorithmics/_metadata.yml
  src/business-process-modeling/_metadata.yml
  src/it-project-management/_metadata.yml
  src/legaltech/_metadata.yml
  src/software-development-methodology/_metadata.yml
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Изменено: Шаблон отображения
  CHANGELOG.md
  src/_static/styles/styles.css
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Изменено: Шаблон отображения
  src/_quarto.yml
  src/_static/styles/styles.css
Due: check-yaml

Изменено: Шаблон отображения
  src/_quarto.yml
  src/_static/styles/html.css
  src/_static/styles/revealjs.css
Due: check-yaml

Изменено: Шаблон отображения
  CHANGELOG.md
  src/404.qmd
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Изменено: Страница 404
  src/404.md
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: Зависимость `flowchart-magic`
  CHANGELOG.md
  pyproject.toml
Due: check-toml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: Нумерация пунктов в оглавлении материалов
  CHANGELOG.md
  src/_quarto.yml
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Изменено: Нумерация пунктов в оглавлении материалов
  CHANGELOG.md
  src/_quarto.yml
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Добавлено: Лекция 1 по алгоритмике
  CHANGELOG.md
  src/algorithmics/_sidebar.yml
  src/algorithmics/lecture-01/img/al-khorezmi.png
  src/algorithmics/lecture-01/img/babbage.png
  src/algorithmics/lecture-01/img/babel-table.png
  src/algorithmics/lecture-01/img/euclid.png
  src/algorithmics/lecture-01/img/featured-image.png
  src/algorithmics/lecture-01/img/fibonacci.png
  src/algorithmics/lecture-01/img/leibniz.png
  src/algorithmics/lecture-01/img/lovelace.png
  src/algorithmics/lecture-01/img/lulli.png
  src/algorithmics/lecture-01/img/turing-machine.png
  src/algorithmics/lecture-01/index.qmd
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Изменено: Настройки виртуального окружения
  CHANGELOG.md
  pyproject.toml
Due: check-toml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Изменено: Форматирование `_quarto.yml`
  CHANGELOG.md
  src/_quarto.yml
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Изменено: Форматирование основных разделов сайта
  src/_quarto.yml
  src/about.qmd
  src/algorithmics/_sidebar.yml
  src/algorithmics/annotation.qmd
  src/algorithmics/credit.qmd
  src/algorithmics/exam.qmd
  src/annotation.qmd
  src/attestation/annotation.qmd
  src/attestation/exam.qmd
  src/attestation/index.qmd
  src/bibliography/additional.qmd
  src/bibliography/basic.qmd
  src/bibliography/basic.tex
  src/bibliography/electronic.qmd
  src/business-process-modeling/annotation.qmd
  src/business-process-modeling/credit.qmd
  src/business-process-modeling/exam.qmd
  src/index.qmd
  src/it-project-management/annotation.qmd
  src/it-project-management/credit.qmd
  src/legaltech/annotation.qmd
  src/legaltech/credit.qmd
  src/legaltech/index.qmd
  src/project/annotation.qmd
  src/project/index.qmd
  src/project/report-requirements.qmd
  src/project/report-structure.qmd
  src/project/theme-options.qmd
  src/software-development-methodology/annotation.qmd
  src/software-development-methodology/credit.qmd
  src/subjects.qmd
  src/traineeship/annotation.qmd
  src/traineeship/credit.qmd
  src/traineeship/index.qmd
Due: check-yaml

Изменено: Форматирование основных разделов сайта
  CHANGELOG.md
  src/about.qmd
  src/annotation.qmd
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Изменено: Зависимости проекта
  CHANGELOG.md
  DEVELOPERS.md
  pyproject.toml
  requirements.txt
Due: check-toml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Изменено: Аннотация учебной программы
  src/annotation.qmd
Due: none

Изменено: Авторы программы и учебных материалов
  CHANGELOG.md
  src/authors.qmd
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa
